backstage:
  backstage:
    proxy:
      endpoints:
        '/github/api':
          target: 'https://api.github.com'
          changeOrigin: true
          headers:
            Accept: application/vnd.github+json
